# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
svelte/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Streamlit
.streamlit/

# Temporary files
temp_image.jpg
image.jpg
*.jpg
*.png

# Environment variables
.env
.env.yaml
.envrc

# Jupyter notebooks
*.ipynb
*.ipynb_checkpoints/

# Data files (keep this to avoid pushing large datasets)
raw_data/
*.csv
*.sqlite
*.zip
models/               # Remove if you have large model files

# System files
.python-version
.coverage
*.iml
*.vscode

# Other
pytestdebug.log
**/*.code-workspace
*.sublime-workspace
.envrc
.env
*.env
secrets.*
